.gradle
build/
.idea/
.classpath
.project
.settings
*.iws
.DS_Store

log/
db/
xenon-flow.log
cwl/
running-jobs/
output/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
/bin/
