<span class="job-status">
  <fa-icon *ngIf="job.state == 'Waiting'" icon="pause"></fa-icon>
  <fa-icon *ngIf="job.state == 'Running'" icon="cog"></fa-icon>
  <fa-icon *ngIf="job.state == 'Success'" icon="check"></fa-icon>
  <fa-icon *ngIf="job.state == 'Cancelled'" icon="ban"></fa-icon>
  <fa-icon *ngIf="job.state == 'PermanentFailure' || job.state =='SystemError'" [fixedWidth]="true" icon="times"></fa-icon>
  <fa-icon *ngIf="job.state == 'TemporaryFailure'" icon="exclamation-triangle"></fa-icon>
</span>
