#
# Copyright 2013 Netherlands eScience Center
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
ComputeResources:
    local:
        cwlCommand: |
            #!/usr/bin/env bash

            cwltool $@
        maxTime: 20
        scheduler:
            adaptor: local
            location: ${XENONFLOW_FILES}/running-jobs/

#######
# To use the docker slurm container instead
# of the local one change the following line to
# default: docker
default: local

sourceFileSystem:
   adaptor: file
   location: ${XENONFLOW_FILES}/upload/
   
targetFileSystem:
   adaptor: file
   location: ${XENONFLOW_FILES}/output/
   hosted: true

# Location where xenonflow can find the cwl workflows that are
# allowed to be run. If specified xenonflow will restrict running workflows
# to those available here. If not specified any workflow that cwltool can find
# can be executed
cwlFileSystem:
   adaptor: file
   location: ${XENONFLOW_FILES}/
