name: Build and Test Xenonflow

on:
  schedule:
    - cron: "0 4 * * *"
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  release:
    types:
      - created

jobs:
  build:
    name: Ubuntu
    runs-on: ubuntu-latest

    steps:
      - name: Set up java
        uses: actions/setup-java@v1
        with:
          java-version: 11.0.2
          java-package: jdk
          architecture: x64
      - name: Set up python
        uses: actions/setup-python@v2
        with:
          python-version: "3.8"
          architecture: "x64"
      - name: Install cwltool
        run: pip install cwltool
      - name: Checkout project
        uses: actions/checkout@v2
      - name: Check cwltool
        run: cwltool --version
      - name: Build with Gradle
        run: ./gradlew build -x test
      - name: Test
        run: ./gradlew check
