name: Xenonflow CWL Compliance

on:
  push:
    branches:
      - master
      - cwl_compliance
  pull_request:
    branches:
      - master
  release:
    types:
      - created

jobs:
  compliance:
    name: Compliance
    runs-on: ubuntu-latest

    steps:
      - name: Set up java
        uses: actions/setup-java@v1
        with:
          java-version: 11.0.2
          java-package: jdk
          architecture: x64
      - name: Set up python
        uses: actions/setup-python@v2
        with:
          python-version: "3.8"
          architecture: "x64"
      - name: Install cwltool
        run: pip install cwltool
      - name: Install test dependencies
        run: pip install setuptools wheel cwltest pyyaml requests docker node
      - name: Checkout project
        uses: actions/checkout@v2
      - name: Checkout common-workflow-language
        uses: actions/checkout@v2
        with:
          repository: common-workflow-language/common-workflow-language.git
          ref: main
          path: common-workflow-language
      - name: Check cwltool
        run: cwltool --version
      - name: Check repo layout
        run: ls -l
      - name: Build with Gradle
        run: ./gradlew build -x test
      - name: Run cwl compliance tests
        run: |
          ./gradlew bootRun > xenonflow.log &
          cd common-workflow-language
          sleep 40
          ./run_test.sh --junit-xml=../../result.xml --junit-verbose RUNNER=../xenon-flow-runner.sh || true
        env:
          XENONFLOW_HOME: ${{github.workspace}}
          XENONFLOW_FILES: ${{github.workspace}}/common-workflow-language/v1.0
          XENONFLOW_API_KEY: in1uP28Y1Et9YGp95VLYzhm5Jgd5M1r0CKI7326RHwbVcHGa
      - name: Publish Compliance Results
        uses: EnricoMi/publish-unit-test-result-action@v1.23
        if: always()
        with:
          files: result.xml
          check_name: CWL Compliance Results
          fail_on: nothing

